h1 {
            text-align: center;
            font-size: 4em;
            line-height: 1em;
            width: 100%;
            padding: 2em;
            background-color: cadetblue;
         }
         h1 a{
             color: azure;
         }
         h1 a:hover{
            color: firebrick;
         }
         
         form{
             display: inline-block;
         }
         
         #add_todo{
             margin: 1em;
         }
         
         #add_todo legend{
             padding: 1em;
             font-size: 2em;
             font-weight: 500;
             color: cadetblue;
            
         }

         
         #add_todo label{
             margin: 1em;
             font-size: 1.1em;
             font-weight: 500;
             color: cadetblue;
            
         }

        #add_todo input[type='submit']{
             margin-left: 1em;
         }
         
         button, input[type='submit']{
             cursor: pointer;
             color: firebrick;
         }

        input[type='text'], input[type='number']{
             color: firebrick;
             padding: 0.2em;
         }
         

 a {
    color: firebrick;
}

a:hover{
   color: navajowhite;
}
         body{
             background-color: bisque;
             margin: 0;
          
         }
         
         main{
             padding: 0 1em;
         }

         
        th{
       
            font-size: 1.4em;
            color: azure;
         
            background-color: cadetblue;
         }
         
         td{
             color: cadetblue;
             font-size: 1.2em;
       
       }
         
         #completed  th{
 
            color: azure;
            background-color: dimgrey;
         }
         
        #completed td{
               color: forestgreen;
           }
         
                  
         table#todo{
             background-color: navajowhite;
         }
         
        table#done{
             background-color: lightgray;
         }
         
        footer{
            width: 100%;
             text-align: center;
         }
         
         p.footer{
             display: inline-block;
             width: 100%;
             padding: 3em;
             height: 4em;
             line-height: 2em;
             font-size: 1.2em;
             background-color: cadetblue;
             text-decoration: underline;
         }
       
.notification{
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width:  97%;
    height: 5em;
    position: absolute;
    z-index: 2;
    top: 20px;
    background-color: navajowhite;
}
    
